@charset "utf-8";

@font-face {
	font-family: 'Roboto Slab Regular';
	src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
	font-family: 'Roboto Slab Bold';
	src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
	font-family: 'Roboto Slab Light';
	src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
	font-family: 'Roboto Regular';
	src: url(../fonts/Roboto-Regular.ttf)
}

html {
	margin: 0;
}

body {
	margin: 0;
	background: black;
}

button {
	outline: none;
	cursor: pointer;
}

.logo {
	background: black;
	width: 50%;
	height: auto;
	padding-top: 100px;
	transform: skewY(0deg);
	transition: 3s;
}

.logo:hover {
	transform: skewY(-3deg) scale(1.1);
	transition: 0.5s;
}

.block {
	max-width: 100%;
	padding: 50px;
	text-align: justify;
}

/*.block#image {
	margin: 0px;
	max-width: 100%;
	padding: 0px;
	max-height: 500px;
}*/

.block#about {
	background: white;
}

.block#projects {
	
}

.block#contacts {
	background: white;
}

.block#activity {
	padding: 0px;
}

td#card {
	background: white;
	font-family: 'Roboto Slab Regular';
	/* font-size: 14pt; */
	padding: 30px;
	vertical-align: top;
	margin: 0px;
	transition: 1s ease;
}

td#card:hover {
	transform: translateY(-25px) scale(1.02);
	transition: 1s ease;
}

#activitytable {
	border-spacing: 50px;
	width: 100%;
	margin: 0px;
}

.text#block {
	font-family: 'Roboto Slab Regular';
	font-size: 14pt;
	margin-bottom: 100px;
}

button#default {
	height: 45px;
	background: none;
	border: 2px solid white;
	font-family: 'Roboto Regular';
	font-size: 13pt;
	transition: 0.5s;
	margin-top: 10px;
	line-height: 100%;
	color: white;
	margin-right: 30px;
}

button#default:hover {
	transform: translateX(10px);
	cursor: pointer;
	background: white;
	color: black;
}

button#default:active {
	border: 2px solid black;
	outline: 2px solid white;
}

button#default2 {
	height: 45px;
	background: none;
	border: 2px solid black;
	font-family: 'Roboto Regular';
	font-size: 13pt;
	transition: 0.5s;
	line-height: 100%;
	color: black;
	width: 100%;
}

button#default2:hover {
	cursor: pointer;
	background: black;
	color: white;
}
	
button#arrowdown {
	background: none;
	border: none;
	transition: 2s;
}

button#arrowdown:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

button#default2:active {
	border: 2px solid white;
	outline: 2px solid black;
}

h1, h2 {
	margin-top: 0px;
	font-family: 'Roboto Slab Bold';
}

h1 {
	font-size: auto;
}

h2 {
	margin-top: 0px;
	font-size: 40pt;
	margin-bottom: 0px;
}

table {
	width: 100%;
}

td#firstpage {
	height: 1000px;
}

.arrowdown {
	width: 100px;
	height: 100px;
	padding-top: 50px;
	transition: 2s;
	animation: float_ver 5s infinite ease;
}

.arrowdown:hover {
	opacity: 50%;
}

img#incard {
	margin-bottom: 15px;
}

td.buttons {
	align-content: center;
}

table.buttons {
	
}

footer {
	height: 100px;
	color: white;
	font-family: 'Roboto Slab Light';
	font-size: 20pt;
}

table.footer {
	height: 100%;
}

td.footer {
	height: 100%;
	/*animation: float_hor 5s infinite ease;*/
}

@keyframes float_ver {
	0% {transform: translate(0,-25px);}
	50% {transform: translate(0,25px);}
	100% {transform: translate(0,-25px);}
}

@keyframes float_hor {
	0% {transform: translate(25px);}
	50% {transform: translate(-25px);}
	100% {transform: translate(25px);}
}


@media screen and (max-width: 1050px) {
	.block {
		text-align: left;
	}
	
	table#activitytable {
		max-width: 1050px;
	}
}
