@charset "utf-8";

@font-face {
	font-family: 'Gotham Narrow Medium';
	src: url(../fonts/GothaProNarMed.otf);
}

@font-face {
	font-family: 'Gotham Bold';
	src: url(../fonts/GothaProBol.otf);
}

@font-face {
	font-family: 'Gotham Medium';
	src: url(../fonts/GothaProMed.otf);
}

@font-face {
	font-family: 'Gotham Light';
	src: url(../fonts/GothaProLig.otf)
}

@font-face {
	font-family: 'Gotham Regular';
	src: url(../fonts/GothaProReg.otf);
}

body {
	background: #000000;
	margin: 0px;
}

#logo-wrapper {
	padding: 150px 0 150px 0;
}

#logo {
	width: 80%;
	height: auto;
}

#skills {
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid;
}

a#black {
	border-color: rgba(0, 0, 0, 0.5);
}

a#white {
	border-color: rgba(255, 255, 255, 0.5);
}

a#black:hover {
	border-color: rgba(0, 0, 0, 1);
}

a#white:hover {
	border-color: rgba(255, 255, 255, 1);
}

p {
	margin-top: 15px;
}

h1 {
	font-size: 44pt;
	font-family: 'Gotham Bold';
	letter-spacing: 5pt;
	margin: 50px;
	color: #FFFFFF;
}

h2 {
	font-family: 'Gotham Bold';
	margin-bottom: 15px;
	letter-spacing: 2pt;
	font-size: 24pt;
}

#skills-columns-wrapper {
	width: 100%;
	border: none;
	border-spacing: 30px;
}

.skills-column {
	vertical-align: top;
	height: auto;
	background: #FFFFFF;
	border-radius: 25px;
	color: #000000;
	width: 33%;
	padding: 4%;
	font-family: 'Gotham Medium';
	font-size: 2vw;
}

#skills-bar-columns-wrapper {
	width: 100%;
	border: none;
	border-spacing: 0px;
	padding: 0 30px 0 30px;
}

.skills-bar-column {
	font-size: 14pt;
	font-family: 'Gotham Narrow Medium';
	color: #000000;
	height: 50px;
}

#skills-bar-column-design {
	background: #FFFFFF;
	width: 75%;
	border-radius: 25px 0 0 25px;
}

#skills-bar-column-web {
	background: #D2D2D2;
	width: 15%;
}

#skills-bar-column-video {
	background: #B4B4B4;
	width: 10%;
	border-radius: 0 25px 25px 0;
}

#skills-bar-column-percent {
	font-size: 16pt;
	font-family: 'Gotham Bold';
}

#skills-column-image {
	margin-bottom: 30px;
}

#about {
	color: #FFFFFF;
}

#information {
	font-size: 16pt;
	font-family: 'Gotham Regular';
	color: #FFFFFF;
	padding: 0px 20% 0px 20%;
	border-radius: 25px;
	text-align: justify;
}

.social {
	height: 50px;
	width: 50px;
	background-color: rgba(0, 0, 0, 0);
	margin: 0 10px 0 10px;
	border: none;
	cursor: pointer;
}

#vk {
	background: url(../images/vk-logo.svg);
}

#facebook {
	background: url(../images/facebook-logo-2.svg);
}

#vk-group {
	background: #FFFFFF;
	min-width: 400px;
	border-radius: 25px;
	font-family: 'Gotham Regular';
	font-size: 12pt;
	display: inline-block;
	vertical-align: top;
}

#footer {
	width: 100%;
	height: 100px;
	margin-top: 60px;
	padding: 30px;
}

#copyright {
	font-family: 'Gotham Narrow Medium';
	font-size: 14pt;
	background-color: #FFFFFF;
	border-radius: 25px;
	padding: 30px 60px 30px 60px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
	#information {
		padding: 0 30px 0 30px;
		text-align: left;
	}
}
