body {
	background-color: #171717!important!important;
	color: #f1f1f1!important!important;
	/*background: url(../img/bg.png)!important;*/
}

a:focus {
	outline: 0!important;
}

a:link,
a:visited,
.js_link {
	color: #17649A!important;
	text-decoration: none!important;
}

a:hover,
a:active,
a:focus {
	color: #737373!important;
	text-decoration: underline!important;
}

.js_link {
	cursor: pointer!important;
	border-color: #00579C!important;
	-moz-user-select: none!important;
	-webkit-user-select: none!important;
	user-select: none!important;
}

.js_link:hover {
	color: #CD0021!important;
	border-color: #CD0021!important;
}

.entry-content a:visited {
	color: #990099!important;
}

.entry-content a:visited:hover {
	color: #CD0021!important;
}

.sig-content a,
.sig-content a:visited {
	color: #999!important;
	text-decoration: underline!important;
}

.sig-content a:hover,
.sig-content a:active,
.sig-content a:focus,
.sig-content a:visited:hover {
	color: #333!important;
}

.gen-content,
.main-content {
	border-color: #cccccc!important;
	border-bottom-color: #cccccc!important;
}
.main-category{
	background: #fbfbfb!important;
	margin-bottom: 15px!important;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
}
.main-forum{
	background: #fbfbfb!important;
}

#brd-crumbs-top .crumblast a,
#brd-crumbs-top .crumblast a:hover {
	color: #111!important;
	text-decoration: none!important;
}

.main-item,
.main-item li,
.main-item div,
td {
	border-color: #e2e2e2!important;
}

.main-content .main-item .item-nav {
	color: #888!important;
}

.main-content .sticky {
	background: #f7f7f7!important;
}

.main-content .main-item .hn .item-status em.sticky,
.main-content .main-item .hn .item-status em.closed {
	color: #314B60!important;
	font-weight: bold!important;
}

.main-content .main-item .hn .item-status em.moved {
	color: #666!important;
}

.post div,
h3.post-ident,
h4.post-title,
.posthead h3,
.userstatus span,
.sig-line {
	border-color: #e2e2e2!important;
}

.post-num {
	color: #999!important;
}

.post {
	border-color: #e2e2e2!important;
	border-top-color: #fff!important;
	border-bottom-color: #ccc!important;
	background: #f3f3f3!important;
}

#topic-review .firstpost,
.singlepost {
	border-top-color: #e2e2e2!important;
	border-bottom-color: #e2e2e2!important;
}

.posthead,
.postbody,
.post-options {
	background: #f9f9f9!important;
}

.posthead .hn {
	background: #f5f5f5!important;
}

.post-title small {
	color: #999!important;
}

.sig-content {
	color: #999!important;
}

.sig-demo {
	color: #333!important;
}

.sig-demo a,
.sig-demo a:visited {
	color: #333!important;
	text-decoration: underline!important;
}

.online .userstatus span {
	border-color: #3F9439!important;
}

.ct-box,
.ct-set,
.ct-group,
.frm-group {
	border-color: #e5e6e6!important;
}

.admin-page .ct-box {
	background: #FEFFE6!important;
}

.admin-page .ct-set .ct-box,
.report {
	background: transparent!important;
}

.admin-page .warn-set .warn-box {
	background: #FEFFE6!important;
}

.main-content .info-box {
	background: #FFFFE1!important;
}

.main-extensions .extension,
.main-hotfixes .hotfix {
	background: #f5f5f5!important;
}

.main-extensions .disabled,
.main-hotfixes .disabled {
	background: #FFFFE1!important;
}

.warn-group,
.warn-set,
.warn-box,
.error-box,
#admin-alerts {
	background: #FEFFE6!important;
	border-color: #F4EBCE!important;
}

.warn-group,
.warn-set,
.warn-box,
.error-box {
	border-color: #E6D190!important;
}

.info-list li,
.error-list li {
	color: #5D5636!important;
}

.info-list li span,
.error-list li span {
	color: #5D5636!important;
}

ul li strong {
	color: #222!important;
}

.user-box {
	background: #f5f5f5!important;
}

.ct-box .hn {
	border-color: #e5e6e6!important;
	color: #333!important;
}

.error-box .hn {
	color: #222!important;
}

.help-box {
	background: #f4f4f4!important;
}

.help-box .hn {
	color: #294F6E
}

.frm-buttons,
.extension .options,
.hotfix .options {
	border-color: #E3E3E3!important;
}

.checklist {
	background: #fff!important;
	border-color: #ccc!important;
}

label,
.aslabel,
.mf-set legend,
.ct-legend,
.ct-legend span,
.ct-legend cite,
.ct-legend strong {
	color: #333!important;
}

.paging span,
.paging a,
.paging strong {
	border-color:#ccc!important;
}


.required label em,
#req-msg em,
.warn strong,
.important strong {
	color: #b42000!important;
}

.sf-set .text label small,
.sf-set .select label small,
.txt-set .textarea label small {
	color: #999!important;
}

 .brd .entry-content .codebox {
	background: url(../img/code.png) bottom right no-repeat!important;
	background-color:#fff!important;
	border: 0px!important;
	outline: 1px solid #ddd!important;
	border-left: 15px solid #e9e9e9!important;
	}
.brd .entry-content .quotebox{
	background: url(../img/quote.png) top right no-repeat!important;
	background-color:#fff!important;
	border: 0px!important;
	outline: 1px solid #ddd!important;
}

#brd-ncement .userbox {
	background: #f5f5f5 none repeat scroll 0 0!important;
}

.main-content .main-item .hn .posted-mark {
	color: #99C!important;
}

.lastedit em {
	font-size: .95em!important;
	font-style: normal!important;
	color: #999!important;
}

.user-ident .username strong {
	color: #17649A!important;
}

/* Menus
----------------------------------------------------------------*/

#brd-navlinks {
	background: #47ae42!important; /* Show a solid color for older browsers */
	border: solid 0px!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	padding-right: 0px!important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px!important;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px!important;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px!important;
	z-index: 100!important;
	line-height: 35px!important;
	display: block!important;
	height: 35px!important;
}
#brd-navlinks ul{
	height: 35px!important; 
	padding:0!important;
	float: right!important;
	padding-right: 15px!important;
	list-style:none!important;
	display: inline!important;
}
#brd-navlinks ul li{
	height: 35px!important;
	display: inline-block!important;
	padding-left: 10px!important;
	padding-right: 10px!important;
	list-style:none!important;
	-webkit-transition-duration: 200ms!important;
	-webkit-transition-property: background!important;
	-webkit-transition-timing-function: ease-out!important;
	margin-left: -2px!important;
	margin-right: -2px!important;
}
#brd-navlinks li:hover, 
#brd-navlinks li:active,
#brd-navlinks li:focus{
	background: #2b2b2b!important;
	cursor: pointer!important;
}
#brd-navlinks li:hover a, 
#brd-navlinks li:active a,
#brd-navlinks li:focus a{
	color: #f1f1f1!important;
}
#brd-navlinks li.isactive{
	background: #47ae42!important;
}
#brd-navlinks li.isactive a{
	color: #fff!important;
}
#brd-navlinks a{
	color: #ddd!important;
	font-size: 15px!important;
	padding:0!important;
	margin: 0!important;
}
.main-options,
.main-options span {
	background: #F1F1F1!important;
}

.main-menu,
.admin-menu {
	background: #464646!important; /* Show a solid color for older browsers */
	color: #dcdddd!important;
	height:38px!important;
	line-height:33px!important;
	border: 1px solid #363636!important;
}

.admin-submenu {
	background: #5e5e5e!important;
	border-color: #484848!important;
}
.admin-submenu a:link,
.admin-submenu a:visited{
	color: #ddd!important;
}
.admin-submenu .active a,
 .admin-submenu a:hover,
.admin-submenu a:active,
.admin-submenu a:focus{
	color: #f5f5f5!important;
	text-decoration: none!important;
}

.main-menu a:link,
.main-menu a:visited,
.admin-menu a:link,
.admin-menu a:visited {
	color: #47ae42!important;
	text-decoration: none!important;
	-webkit-transition-duration: 200ms!important;
	-webkit-transition-property: border, color!important;
	-webkit-transition-timing-function: ease-out!important;
}

.main-menu a:hover,
.main-menu a:active,
.main-menu a:focus,
.admin-menu a:hover,
.admin-menu a:active,
.admin-menu a:focus {
	text-decoration: none!important;
	color: #fff!important;
	border-top: solid 2px #7a7a7a!important;
}

.main-menu .active a:hover,
.main-menu .active a:active,
.main-menu .active a:focus,
.main-menu .active a:visited,
.admin-menu .active a:hover,
.admin-menu .active a:active,
.admin-menu .active a:focus,
.admin-menu .active a:visited {
	text-decoration: none!important;
}

.main-menu .active a,
.admin-menu .active a{
	color: #ffffff!important;
	border-top: solid 2px #69c0ff!important;
}

#brd-admod #alert a {
	color: #84bce4!important;
}
#brd-admod #alert a:after{
	content: "!"
}

/* Logo and Headings
----------------------------------------------------------------*/

#brd-head {
	padding-top: 10px!important;
	line-height: 30px!important;
}

.main-head{
	background: #463838!important; /* Show a solid color for older browsers */
	color: #dcdddd!important;
	height:38px!important;
	line-height:32px!important;
	border: 1px solid #363636!important;
}
.main-head h2 >span{
font-size: 15px!important;
font-weight: bold!important;
background:url(../img/list.png) left center no-repeat!important;
padding-left: 20px!important;
}
.main-foot {
	background: #f5f5f5!important;
	color: #323232!important;
	border: solid 1px #cccccc!important;
	border-top: solid 1px #fff!important;
}

#brd-announcement h1 {
	border-color: #cccccc!important;
}

.main-subhead {
	border:solid 0px!important;
	border-left: solid 1px #ccc!important;
	border-right: solid 1px #ccc!important; 
	background:url(../img/main-head-bg.png) repeat-x!important;
}

.column-title {
	border-color: #F4F4F4 #F4F4F4 #CBD1D8 #F4F4F4!important;
	background: #F4F4F4!important;
}

.group-head {
	background: #f3f3f3!important;
	border-color: #e5e6e6!important;
}

.content-head .hn {
	border-color: #e5e6e6!important;
	color: #666!important;
}

.main-head a:link,
.main-head a:visited,
.main-foot .options a:link,
.main-foot .options a:visited,
.main-head .js_link,
.main-foot .options .js_link {
	color: #ddd!important;
}

.main-head .js_link,
.main-foot .options .js_link {
	border-color: #ccc!important;
}

.main-head a:hover,
.main-head a:active,
.main-head a:focus,
.main-head .js_link:hover,
.main-foot .options a:hover,
.main-foot .options a:active,
.main-foot .options a:focus,
.main-foot .options .js_link:hover {
	color: #fff!important;
}

.main-head .js_link:hover,
.main-foot .options .js_link:hover {
	border-color: #fff!important;
}

th {
	background: #F4F4F4!important;
}

.main-frm .ct-group td {
	background: #FBFBFB!important;
}

#extensions-used {
	border-bottom-color: #999!important;
}


/* Status indicators
----------------------------------------------------------------*/

.main-content .main-item .icon {
	background: url(../img/status.png) 0px 0px no-repeat!important;
}

.main-content .redirect .icon {
	background: url(../img/status.png) -48px 0px no-repeat!important;
}

.main-content .sticky .icon {
	background: url(../img/status.png) -96px 0px no-repeat!important;
}

.main-content .sticky.closed .icon {
	background: url(../img/status.png) -144px 0px no-repeat!important;
}

.main-content .new .icon {
	background: url(../img/status.png) -192px 0px no-repeat!important;
}

.main-content .closed .icon {
	background: url(../img/status.png) -240px no-repeat!important;
}

.main-content .moved .icon {
	background: url(../img/status.png) -48px 0px no-repeat!important;
}

/* Multi Checkbox Widget
-------------------------------------------------------------*/

.checklist-item label {
	background: #fff!important;
}

.checklist-item label:hover {
	background: #f3f3f3!important;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="search"],
textarea {
	border-color: #D3DAE1!important;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
textarea:active,
textarea:focus {
	border-color: #C8D3DC #D3DAE1 #D3DAE1 #C8D3DC!important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset!important;
	background: #FFFFF3!important;
	background: -moz-linear-gradient(top, #fffee8, #fff)!important;
	background: -o-linear-gradient(top, #fffee8, #fff)!important;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fffee8), to(#fff))!important;
	background: -webkit-linear-gradient(top, #fffee8, #fff)!important;
	background: -ms-linear-gradient(top, #fffee8, #fff)!important;
	background: linear-gradient(top, #fffee8, #fff)!important;
}


input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	background: #f6f6f6!important;
	background: -moz-linear-gradient(top, #fff, #eee)!important;
	background: -o-linear-gradient(top, #fff, #eee)!important;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee))!important;
	background: -webkit-linear-gradient(top, #fff, #eee)!important;
	background: -ms-linear-gradient(top, #fff, #eee)!important;
	background: linear-gradient(top, #fff, #eee)!important;
	border-color: #CCCCCC!important;
	color: #404040!important;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus {
	background: #f3f3f3!important;
	background: -moz-linear-gradient(top, #fff, #ebebeb)!important;
	background: -o-linear-gradient(top, #fff, #ebebeb)!important;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb))!important;
	background: -webkit-linear-gradient(top, #fff, #ebebeb)!important;
	background: -ms-linear-gradient(top, #fff, #ebebeb)!important;
	background: linear-gradient(top, #fff, #ebebeb)!important;
	border-color: #84BCE4!important;
	color: #111!important;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, .1)!important;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, .1)!important;
	box-shadow: 0 1px 2px rgba(0,0,0, .1)!important;
}

input[type="submit"][disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
button[disabled] {
	border-color: #CCCCCC!important;
	color: #999!important;
}

input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
button[disabled]:hover,
button[disabled]:focus {
	color: #999!important;
}

#querytime {
	color: #999!important;
}

/* Misc classes
-------------------------------------------------------------*/
.quiet {
	color: #999!important;
}

.loud {
	color: #000!important;
}

#brd-debug th {
	background: #fff!important;
	border: none!important;
	border-bottom: 2px solid #e2e2e2!important;
	color: #111!important;
}

#brd-debug td {
	background: #fff!important;
	border: none!important;
	border-bottom: solid 1px #eee!important;
	color: #666!important;
}

/* Flash Messages
-------------------------------------------------------------*/

#brd-messages span {
	color: #333!important;
	-webkit-border-bottom-right-radius: .3em!important;
	-webkit-border-bottom-left-radius: .3em!important;
	-moz-border-radius-bottomright: .3em!important;
	-moz-border-radius-bottomleft: .3em!important;
	border-bottom-right-radius: .3em!important;
	border-bottom-left-radius: .3em!important;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0, .2)!important;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0, .2)!important;
	box-shadow: 0 2px 3px rgba(0,0,0, .2)!important;
}

#brd-messages .message_error {
	border-color:#ffe475!important;
	background: #ffbdac!important;
}

#brd-messages .message_warning {
	border-color:#ffe475!important;
	background: #ffd0ac!important;
}

#brd-messages .message_info {
	border-color:#ffe475!important;
	background: #ffffcc!important;
	background: -moz-linear-gradient(center top , #fffbea, #fef7cb)!important;
	background: -o-linear-gradient(top, #fffbea, #fef7cb)!important;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fffbea), to(#fef7cb))!important;
	background: -webkit-linear-gradient(top, #fffbea, #fef7cb)!important;
	background: -ms-linear-gradient(top, #fffbea, #fef7cb)!important;
	background: linear-gradient(top, #fffbea, #fef7cb)!important;
}
#visit-links a,
#visit-links a:link,
#visit-links a:visited {
	text-decoration: none!important;
	padding: 6px!important;
	
}

#visit-links a:hover,
#visit-links a:active,
#visit-links a:focus {
	text-decoration: none!important;
}
p#welcome{
float:left!important;
padding:0!important;
margin: 0!important;
color:#ddd!important;
font-size: 15px!important;
}
#topavatar{
float:left!important;
margin:0!important;
padding:0!important;
max-height: 30px!important;
width: auto!important;
margin-right:8px!important;
margin-top:2px!important;
border: solid 1px #323232!important;
}
#topavatar img{
}
#topavatar:hover,
#topavatar:active,
#topavatar:focus {
border: solid 1px #777!important; 
}
#brd-announcement {
	color: #f1f1f1!important;
	background: #2b2b2b!important;
	/*background: rgba(0,0,0, 0.02)!important;*/
	border: 1px solid #363636!important;
	padding-top:0!important;
	font-size:12px!important;
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
}
#brd-announcement .content{
	padding-top:3px!important;
}
#brd-announcement h1:before { content: "`"!important; color: #17649A!important; font-size: 22px!important; margin:0!important;padding:0!important;}
#brd-announcement h1{
border: 0px!important;
padding-bottom: 0px!important;
margin:0!important;
}
#brd-pagepost-top,
#brd-pagepost-end{
background:none!important;
border:0!important;
}
.main-extensions,
#brd-stats,
#brd-online,
#brd-qpost{
	background: #fbfbfb!important;
}

/* Buttons
----------------------------------------------------------------*/
 a.newpost,
 a.newpost:link,
 a.newpost:visited
{
	background: #308c25!important; /* Show a solid color for older browsers */
	color: #f5f5f5!important;
	padding: 5px!important;
	line-height: 28px!important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px!important;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px!important;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px!important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1)!important;
	-webkit-border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	border-radius: 4px!important;
	border: solid 1px #308c26!important;
	display:block!important;
	-webkit-transition-duration: 200ms!important;
	-webkit-transition-property: border, color, background!important;
	-webkit-transition-timing-function: ease-out!important;
}
a.newpost:focus,
a.newpost:active,
a.newpost:hover{
	background: #22aa1b!important; /* Show a solid color for older browsers */
	border-color: #308c26!important;
	color: #fff!important;
	text-decoration: none!important;
}
.posting span{
	background: url(../img/actions.png) 0px -240px no-repeat!important;
	padding-left:20px!important;
}
.posting:hover span{
	background: url(../img/actions.png) 0px -264px no-repeat!important;
}

.brd .postfoot .post-actions span{
	background: #f1f1f1!important; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f8f8f8, #f1f1f1)!important;
	background: -o-linear-gradient(#f8f8f8, #f1f1f1)!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#f1f1f1))!important; /* older webkit syntax */
	background: -webkit-linear-gradient(#f8f8f8, #f1f1f1)!important;
	padding: 5px!important;
	padding-left: 6px!important;
	padding-right: 6px!important;
	border:1px solid #dcdcdc!important;
	color: #6e6e6e!important;
	text-decoration: none!important;
	-webkit-border-radius: 3px!important;
	-moz-border-radius: 3px!important;
	border-radius: 3px!important;
	line-height: 20px!important;
	margin:1px!important;
	-webkit-transition-duration: 200ms!important;
	-webkit-transition-property: border, color!important;
	-webkit-transition-timing-function: ease-out!important;
}
.brd .postfoot .post-actions span a{
	color: #6e6e6e!important;
	padding-left: 15px!important;
	text-decoration: none!important;
}
.brd .postfoot .post-actions span:hover{
	border-color: #84BCE4!important;
	cursor: pointer!important;
}
.brd .postfoot .post-actions span:hover a{
	color: #387ca6!important;
}
.brd .postfoot .post-contacts span {
	margin-right: 0.75em!important;
}
.brd .postfoot .post-actions .report-post a{
background: url(../img/actions.png) 0px 0px no-repeat!important;
}
.brd .postfoot .post-actions .report-post:hover a{
background: url(../img/actions.png) 0px -24px no-repeat!important;
}
.brd .postfoot .post-actions .delete-post a{
background: url(../img/actions.png) 0px -48px no-repeat!important;
}
.brd .postfoot .post-actions .delete-post:hover a{
background: url(../img/actions.png) 0px -72px no-repeat!important;
}
.brd .postfoot .post-actions .delete-topic a{
background: url(../img/actions.png) 0px -48px no-repeat!important;
}
.brd .postfoot .post-actions .delete-topic:hover a{
background: url(../img/actions.png) 0px -72px no-repeat!important;
}
.brd .postfoot .post-actions .quote-post a{
background: url(../img/actions.png) 0px -96px no-repeat!important;
}
.brd .postfoot .post-actions .quote-post:hover a{
background: url(../img/actions.png) 0px -120px no-repeat!important;
}
.brd .postfoot .post-actions .edit-post a{
background: url(../img/actions.png) 0px -144px no-repeat!important;
}
.brd .postfoot .post-actions .edit-post:hover a{
background: url(../img/actions.png) 0px -168px no-repeat!important;
}
.brd .postfoot .post-actions .reply-post a{
background: url(../img/actions.png) 0px -192px no-repeat!important;
}
.brd .postfoot .post-actions .reply-post:hover a{
background: url(../img/actions.png) 0px -216px no-repeat!important;
}
.main-subhead .hn span{
	visibility:hidden!important;
}
.main-frm{
background-color: #fbfbfb!important;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
	box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px!important;
}
.profile{
background: url(../img/user.png) no-repeat!important;
background-position-x:95%!important;
background-position-y:5%!important;
}
.main-foot .options a:link, 
.main-foot .options a:visited{
	color:#6c6c6c
}
.main-foot .options a:hover{ 
	color: #17649A!important;
	text-decoration: none!important;
}
.main-foot .options span{
	padding: 3px!important;
}
.ct-group table{
	border: solid 1px #ddd!important;
}
.ct-group table th{
	border: solid 1px #ddd!important;
}
.ct-group table tr.even td{
	background: #f8f8f8!important;
}
#brd-pagepost-top >p.paging{
padding-top:25px!important;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	background: #f1f1f1!important; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f8f8f8, #f1f1f1)!important;
	background: -o-linear-gradient(#f8f8f8, #f1f1f1)!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#f1f1f1))!important; /* older webkit syntax */
	background: -webkit-linear-gradient(#f8f8f8, #f1f1f1)!important;
	padding: 5px!important;
	padding-left: 6px!important;
	padding-right: 6px!important;
	border:1px solid #dcdcdc!important;
	color: #6e6e6e!important;
	text-decoration: none!important;
	-webkit-border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	border-radius: 4px!important;
	line-height: 20px!important;
	-webkit-transition-duration: 200ms!important;
	-webkit-transition-property: border, color!important;
	-webkit-transition-timing-function: ease-out!important;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus {
	border-color: #84BCE4!important;
	cursor: pointer!important;
	color: #387ca6!important;
}



/*************************************************************
IE6 - FIXES
**************************************************************/

/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/
.ie6 #brd-navlinks ul li,
.ie7 #brd-navlinks ul li{
display:inline!important;
}
.ie6 #brd-navlinks ul li a
.ie7 #brd-navlinks ul li a{
 display:inline-block!important;
}
.ie6 #brd-navlinks li.isactive,
.ie7 #brd-navlinks li.isactive{
	margin:0!important;
}
.ie6 #brd-navlinks,
.ie7 #brd-navlinks{
	overflow:none!important; 
	margin-top:-36px!important;
	position:absolute!important;
	top:0px!important;
	left:0px!important;
	right:0px!important;
}
.ie6 #brd-wrap,
.ie7 #brd-wrap{
	padding-top:25px!important;
}
.ie6 .brd-page,
.ie6 .main,
.ie6 #brd-index .main-subhead,
.ie6 .main-content .main-item,
.ie6 .main-content .main-item ul,
.ie6 .gen-content,
.ie6 .main-content,
.ie6 .ct-box,
.ie6 .frm-group,
.ie6 .mf-set,
.ie6 .sf-set,
.ie6 .mf-box,
.ie6 .sf-box,
.ie6 .mf-item,
.ie6 .txt-set,
.ie6 .txt-box,
.ie6 .frm-form label,
.ie6 fieldset,
.ie6 span.fld-input,
.ie6 .main-subhead .hn,
.ie6 .post,
.ie6 .posthead,
.ie6 .postbody,
.ie6 .post-entry,
.ie6 .postfoot .post-options {
	zoom: 1!important;
}

.ie6 .ct-box ol,
.ie6 .ct-box ol li {
	zoom: normal!important;
}

.ie6 .postfoot .post-contacts {
	position: absolute!important;
}

/* Forms
-------------------------------------------------------------*/

.ie6 #brd-wrap fieldset {
	padding-top: 1px!important;
	position: relative!important;
}

.ie6 fieldset legend {
	margin-left: -7px!important;
}

.ie6 #brd-wrap .checklist {
	height: 9em!important;
	width: 30em!important;
	overflow: auto!important;
}

.ie6 .sf-set .checkbox label span {
	padding-right: 0!important;
	padding-left: 5em!important;
}

.ie6 #info-censored-intro,
.ie6 #info-ranks-intro {
	margin-bottom: 3em!important;
}

.ie6 .important strong {
	margin-right: 1ex!important;
}

.ie6 #brd-stats .st-users {
	margin-bottom: -1ex!important;
}

/* Fixes for the forms in post.php and edit.php. */
.ie6 .txt-box label span {
	position: absolute!important;
}

/* Fix for index.php: no backgroud for the first main-head. */
.ie6 #brd-index .main-head {
	position: relative!important;
}

.ie6 input {
	vertical-align: text-bottom!important;
}

/* Footer
-------------------------------------------------------------*/

.ie6 #extensions-used {
	clear: left!important;
}

/* Remove scrollbar from empty textarea */
.oldie textarea {
	overflow: auto!important;
}


/*************************************************************
IE7 - FIXES
**************************************************************/

/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/

.ie7 .brd-page,
.ie7 .main,
.ie7 #brd-index .main-subhead,
.ie7 #brd-index .forum-item,
.ie7 .gen-content,
.ie7 .main-content,
.ie7 .ct-box,
.ie7 .frm-group,
.ie7 .mf-set,
.ie7 .sf-set,
.ie7 .mf-box,
.ie7 .sf-box,
.ie7 .mf-item,
.ie7 .txt-set,
.ie7 .txt-box,
.ie7 .frm-group label,
.ie7 fieldset,
.ie7 span.fld-input,
.ie7 .main-subhead .hn,
.ie7 .post,
.ie7 .posthead,
.ie7 .postbody,
.ie7 .post-entry,
.ie7 .postfoot .post-options,
.ie7 #brd-stats ul {
	max-height: 100%!important;
	zoom: 1!important;
}
/* v 1.2 adds */
/**********Colored submit button starts here**********/
input[name="submit_button"], input[name="pm_send"]{
background: #84BCE4!important;
color: whiteSmoke!important; 
padding: 5px!important;
padding-left: 6px!important;
padding-right: 6px!important;
line-height: 20px!important;
border: solid 1px #6CA2C9!important;
-webkit-transition-duration: 200ms!important;
-webkit-transition-property: border, color, background!important;
-webkit-transition-timing-function: ease-out!important;
-webkit-border-radius: 4px!important;
-moz-border-radius: 4px!important;
border-radius: 4px!important;
text-decoration: none!important;
}
input[name="submit_button"]:hover, input[name="pm_send"]:hover, 
input[name="submit_button"]:focus, input[name="pm_send"]:focus{
	background: #69c0ff!important; /* Show a solid color afor older browsers */
	border: solid 1px #36aaff !important!important;
	color: #fff !important!important;
	text-decoration: none!important;
}
#brd-pun_pm-inbox .frm-buttons .primary, #brd-pun_pm-write .frm-buttons .primary, #brd-post .frm-buttons .primary, #brd-viewtopic .frm-buttons .primary, #brd-postedit .frm-buttons .primary{
	margin-right: 5px!important;
}
/**********Colored submit button ends here**********/
/**********Square paging starts here**********/
.paging a,
.paging strong,
.paging span {
	border-left-style: solid!important;
	border-left-width: 1px!important;
	float: left!important;
	white-space:nowrap!important;
	border: none!important;
}
.paging a,
.paging strong {
	border: solid 1px #dedede!important;
	background: #f5f5f5!important;
	margin-left: 2px!important;
	-webkit-transition-duration: 200ms!important;  -webkit-transition-property: border, color!important;  -webkit-transition-timing-function: ease-out!important;
	font-size: 11px!important;
	padding: 0px 6px!important;
	text-decoration: none !important!important;
}
.paging strong {
	background: #ededed!important;
	color: #444!important;

}
.paging a:hover {
	border-color: #84bce4!important;
	color: #387ca6!important;
}
.paging {
	float: left!important;
}

.posting {
	text-align: right!important;
	float: right!important;
	padding: 0!important;
}

.paging {
	white-space:nowrap!important;
	
}
.paging >span{
	padding-left: 1em!important;
	}
#brd-pagepost-end {
	border-top: 0!important;
	padding: 6px 0px 0px!important;
}

#brd-pagepost-top {
	border-bottom: 0!important;
	padding: 0px 0px 2px!important;
}
.paging span.pages {
	border: none!important;
	padding-right: 3px !important!important;
	line-height: 20px!important;
	color: #555!important;
}
/* + line 770, 778 commented*/
/**********Square paging ends here**********/

@media screen and (min-width: 1024px) {
.logo {
	float: left!important;
}
.announ {
	float: right!important;
	width: 50%!important;
	margin-right: -15px!important;
}
}