@charset "utf-8";

body {
	margin: 0;
	background: white;
	font-family: Arial;
}

#mcversion {
	font-size: 20pt;
	background: red;
	border-radius: 5px;
	padding: 5px;
}

#command {
	margin: 0 10% 0 10%;
	padding: 15px;
	background: red;
	border-radius: 5px;
}