@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,300,400,500,700,900');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 40px;
}

h1.nomargin {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

section {
    width: 100%;
}

hr {
    margin: 40px 0 0px 0;
    border: 0;
    background: #ffffff;
    height: 2px;
}

.container {
    padding: 40px 40px 40px 40px;
    margin: 0 15% 0 15%;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    border-radius: 10px;
}

.aboutContainer {
    color: #000000;
    padding-bottom: 0;
}

.aboutContainer p {
    margin-bottom: 40px;
}

.textContainer {
    color: #000000;
}

.coverContainer {
    text-transform: uppercase;
    margin: 0;
    padding: 50px 20% 50px 20%;
    background: #6f53bb;
    border-radius: 0;
    background: linear-gradient(45deg, #684eb1 0%, #84dfb4 100%);
    background-attachment: fixed;
}

.logo {
    height: 100px;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    background: none;
    padding: 0;
}

.skillsContainer div {
    padding: 40px;
    border-radius: 10px;
    line-height: 24px;
    background: #e9e9e9;
    border: solid #d8d8d8 1px;
    -webkit-box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.2);
    box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.2);
}

.skillsContainer div p {
    margin-bottom: 0px;
}

.container a {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    font-weight: 900;
    text-decoration: none;
    color: unset;
}

.container a:hover {
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

.skillsContainer div .icon {
    width: 100%;
    margin-bottom: 40px;
    height: 120px;
    opacity: 0.75;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 0;
}

.projectsContainer div {
    background: #ffffff;
    border-radius: 10px;
    line-height: 24px;
}

.projectsContainer .card {
    transition: 0.1s cubic-bezier(0,.99, 1, 1);
}
.projectsContainer .card:hover {
    transform: translateY(-1%) scale(1.01);
}
.projectsContainer .card:active {
    transform: scale(1);
}

.projectsContainer .cardImg {
    padding: 0;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.cardImg#sevenmines {
    background: url(../images/projects/7mines.jpg);
    background-size: cover;
}

.cardImg#vkgroup {
    background: url(../images/projects/vkgroup.jpg);
    background-size: cover;
}

.projectsContainer .cardText {
    padding: 40px;
}

.skillsContainer h2.prog::after {
    animation: slash 1s infinite;
}

.contactsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 0;
}

.contactsContainer div {
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    transition: 0.1s cubic-bezier(0,.99, 1, 1);
}
.contactsContainer div:hover {
    transform: translateY(-1%) scale(1.01);
}
.contactsContainer div:active {
    transform: scale(1);
}

.contactsContainer div p {
    line-height: 24px;
    margin-bottom: 20px;
}

section.footer {
    background: #000000;
    margin-top: 40px;
}

section.footer .container {
    color: #ffffff;
    padding-bottom: 40px;
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 1600px) {
    .container {
        margin: 0 5% 0 5%;
    }
    .coverContainer {
        padding: 50px 5% 50px 5%;
        margin: 0;
    }
}

@media screen and (max-width: 1400px) {
    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .skillsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .projectsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .contactsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        padding: 40px 0 0 0;
    }
    .aboutContainer h1.adaptiveclass {
        margin-bottom: 0;
    }
    .coverContainer {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 54px;
    }
    .container {
        font-size: 28px;
        line-height: 36px;
    }
    .skillsContainer div {
        font-size: 28px;
        line-height: 36px;
    }
    .projectsContainer div {
        font-size: 28px;
        line-height: 36px;
    }
    .contactsContainer div p {
        min-height: 100px;
        font-size: 28px;
        line-height: 36px;
        transition: none;
    }
    .logo {
        height: 70px;
    }
    .contactsContainer:hover div {
        transform: none;
    }
    .contactsContainer:active div {
        transform: none;
    }
}
