@charset "utf-8";

body {
	margin: 0;
	background: white;
}
div.block {
	width: 100%;
	min-height: 300px;
	padding: 20px;
}
#about {
	background: #7a8b9b;
}
#image {
	padding: 0;
}

img#inblock {
	width: inherit;
}