/* ВНЕШНИЙ ВИД ФОРУМА */
body {
    background-color: #171717!important;
    background-image: none!important;
    color: #f1f1f1!important;
}

.main-head {
    background: hsl(117, 45%, 47%)!important;
    border: 1px solid #47ae42!important;
    color: #FFFFFF!important;
}

#brd-announcement {
    color: #f1f1f1!important;
    background: #2b2b2b!important;
    border: 1px solid #363636!important;
}

#brd-navlinks li.isactive {
    background: hsla(117, 45%, 42%, 1)!important;
}

#brd-navlinks {
       background: #47ae42!important;
}

#brd-navlinks li:hover {
    background: hsla(117, 45%, 42%, 1)!important;
}

#brd-navlinks a {
    color: #f1f1f1!important;
}

.main-subhead {
    background: url(http://vertexofvortex.github.io/files/minecorpdark-style/img/main-head-bg.png) repeat-x!important;
    /* background: #363636!important; */
    border-left: solid 1px #363636!important;
    border-right: solid 1px #363636!important;
}

.main-category {
    border: 1px solid #47ae42!important;
    background: #2b2b2b!important;
}

a:link, a:visited, .js_link {
    color: #47ae42!important;
}

.main-item, .main-item li, .main-item div, td {
        border-color: #363636!important;
}

li.info-posts strong {
    color: #f1f1f1!important;
}

li.info-topics strong {
    color: #f1f1f1!important;
}

.main-extensions, #brd-stats, #brd-online, #brd-qpost {
    background: #2b2b2b!important;
    border: 1px solid #363636
}

div#brd-stats.gen-content {
    border-bottom: none!important;
}

li.st-activity span strong {
    color: #f1f1f1!important;
}

li.st-users span strong {
    color: #f1f1f1!important;
}

.main-forum {
    background: #2b2b2b!important;
}

.main-content .sticky.closed {
    background: #2e2e2e!important;
}

.main-content .closed {
    background: #262626!important;
}

.main-content .sticky {
    background: #2e2e2e!important;
}

span.item-status em.sticky {
    background: none!important;
}

span.item-status em.closed {
    background: none!important;
}

.main-content .main-item .hn .item-status em.sticky, .main-content .main-item .hn .item-status em.closed {
    color: #48ad42!important;
}

li.info-replies strong {
    color: #f1f1f1!important;
}

li.info-views strong {
    color: #f1f1f1!important;
}

th {
    background: #343434!important;
}

.ct-group table {
    border-color: #3e3e3e!important;
}

.ct-group table th {
    border-color: #3e3e3e!important;
}

.main-frm .ct-group td {
    background: #2a2a2a!important;
}

.ct-group table tr.even td {
    background: #2e2e2e!important;
}

div#rules-content.ct-box.user-box {
    background: #f1f1f1!important;
    border: none!important;
}

/* ########## ИКОНКИ ########## */

.main-content .redirect .icon {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) -48px 0px no-repeat!important;
}

.main-content .new .icon {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) -192px 0px no-repeat!important;
}

.main-content .sticky.closed .icon {
background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) -144px 0px no-repeat!important;
}

.main-content .sticky .icon {
background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) -96px 0px no-repeat!important;
}

.main-content .icon {
background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) 0px 0px no-repeat!important;
}

.main-content .closed .icon {
background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/status.png) -240px 0px no-repeat!important;
}

/* ############################ */

 #brd-online .hn, #brd-online p:after {
    content: " — вы используете стиль MineCorp Dark"!important;
}

.entry-content a:visited {
    color: hsla(116, 27%, 40%, 1)!important;
}

/* ВНУТРЕННОСТИ ТЕМЫ */
.post {
    background: #313131!important;
    border-top-color: #3F3F3F!important;
    border-bottom-color: #2B2B2B!important;
    border-color: #313131!important;
}
  
div.postfoot {
    border-top-style: none!important;
}

div.post.even.replypost {
    border-bottom-color: #3F3F3F!important;
    border-top-color: #333333!important;
}

.main-topic .post {
    border-bottom-color: #3F3F3F!important;
    border-top-color: #333333!important;
}

.firstpost {
    border-bottom-color: #3F3F3F!important;                                     
}

.posthead, .postbody, .post-options {
    background: #2b2b2b!important;
    border-color: #363636!important;
}

.posthead .hn {
    background: #313131!important;
    border-color: #363636!important;
}

.gen-content, .main-content {
    border-color: #363636!important;
}

.post div, h3.post-ident, h4.post-title, .posthead h3, .userstatus span, .sig-line {
    border-color: #363636!important;
}

.brd .entry-content .quotebox {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/quote.png) top right no-repeat!important;
    background-color: #3E3E3E!important;
    outline: #363636!important;
    color: #f1f1f1!important;
    border: solid #484848 1px!important;
}

.brd .postfoot .post-actions .edit-post a {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/actions.png) 0px -144px no-repeat!important;
}

.brd .postfoot .post-actions .report-post a {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/actions.png) 0px 0px no-repeat!important;
}

.post-num {
    color: #47ae42!important;
}

.fancy_spoiler_switcher {
    background: default!important;
    background-color: #363636!important;
    border: none!important;
}

.fancy_spoiler {
    color: #f1f1f1!important;
    border-top: dashed 1px #4B4B4B!important;
}

.fancy_spoiler_switcher_header {
    color: #48ad42!important;
}

.brd .postfoot .post-actions span {
    background: #363636!important;
    border: none!important;
}

ul.author-info li span strong {
    color: #48ad42!important;
}

a.newpost, a.newpost:link, a.newpost:visited {
    background: #48ad42!important;
    border: #48ad42!important;
}

a.newpost:focus, a.newpost:active, a.newpost:hover {
    background: #308c26!important;
    border: #308c26!important;
}

.paging a, .paging strong {
    background: #2b2b2b!important;
    border: #3E3E3E!important;
}

.paging span.pages {
    color: #f1f1f1!important;
    border: #3E3E3E!important;
}

.main-foot {
    background: #2b2b2b!important;
    border-color: #363636!important;
    color: #f1f1f1!important;
    border-top: none!important;
}

textarea#fld1 {
    background: #3E3E3E!important;
    border-color: #3E3E3E!important;
}

#pun_bbcode_bar input.image {
    border-color: #3E3E3E!important;
}

.required label span {
    color: #f1f1f1!important;
}

#pun_bbcode_bar input[name="b"].image,
#pun_bbcode_bar input[name="i"].image,
#pun_bbcode_bar input[name="u"].image,
#pun_bbcode_bar input[name="list"].image,
#pun_bbcode_bar input[name="list item"].image,
#pun_bbcode_bar input[name="color"].image,
#pun_bbcode_bar input[name="code"].image,
#pun_bbcode_bar input[name="quote"].image,
#pun_bbcode_bar input[name="img"].image,
#pun_bbcode_bar input[name="url"].image,
#pun_bbcode_bar input[name="email"].image {
    background: url(http://forum.minecorp.ru/extensions/pun_bbcode/css/Oxygen/img/sprite.png) 0 0 no-repeat;
}

/* input[name="submit_button"], input[name="pm_send"] {
    background: #48ad42!important;
    border-color: #48ad42!important;
}

 input[name="submit_button"], input[name="pm_send"]:hover {
    background: #308c26!important;
    border: #308c26!important;
} */

input, textarea, select, button {
    color: #f1f1f1!important;
}

.frm-buttons, .extension .options, .hotfix .options {
    border-top-color: #3E3E3E!important;
}

.ct-box, .ct-set, .ct-group, .frm-group {
    background: #2b2b2b!important;
}

.main-frm {
    background: #2b2b2b!important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="search"], textarea {
    background: #363636!important;
    border: none!important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="search"]:focus, textarea:focus {
    background: #363636!important;
}

label, .aslabel, .mf-set legend, .ct-legend, .ct-legend span, .ct-legend cite, .ct-legend strong {
    color: #f1f1f1!important;
}

.ct-box, .ct-set, .ct-group, .frm-group {
    border-color: #363636!important;
}

.brd .entry-content .codebox {
    background: url(https://vertexofvortex.github.io/files/minecorpdark-style/img/code.png) bottom right no-repeat!important;
    background-color: #3E3E3E!important;
    outline: #363636!important;
    color: #f1f1f1!important;
    border-left: 15px solid #484848!important;
    border-top: solid #484848 1px!important;
    border-right: solid #484848 1px!important;
    border-bottom: solid #484848 1px!important;
}

.pun_poll_item.unvotted {
    background: #212121!important;
    border: 1px solid #3e3e3e!important;
}

.ct-box, .ct-set, .ct-group, .frm-group {
    background: #212121!important;
}

.main-frm {
    background: #212121!important;
}

.pun_poll_header {
    color: #48ad42!important;
}


/* ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ */
ul.data-list li, ul.data-box li {
    border-bottom: solid 1px #363636!important;
    border-top: solid 1px #363636!important;
}

.main-menu .active a, .admin-menu .active a {
    border-top: solid 2px #48ad42!important;
}

input, textarea, select, button {
    background: #363636!important;
    border: 1px solid #363636!important;
}

 .ct-box.error-box {
    background: #363636!important;
}

li.warn span {
    color: #f1f1f1!important;
}

h2.warn.hn strong {
    color: #48ad42!important;
}

h2.warn.hn {
    color: #f1f1f1!important;
}

h3.ct-legend.hn {
    color: #f1f1f1!important;
}

.main-content .info-box {
    background: #363636!important;
}

ul.info-list span {
    color: #f1f1f1!important;
}

ul.data-list li span strong {
    color: #f1f1f1!important;
}

ul.data-box li span strong {
    color: #f1f1f1!important;
}